/* モバイル版 */
@media screen and (max-width: 600px) {
  /*------- ホームページ --------*/
  .page-title {
    font-size: 2.5rem;
  }

  /* ヘッダー */
  .main-nav {
    font-size: 1rem;
    margin-top: 16px;
  }

  .main-nav li {
    margin: 0 20px;
  }

  .page-header {
    flex-direction: column;
    align-items: center;
  }

  /* ホーム */
  .page-content {
    margin-top: 20px;
  }

  /*------ ニュースページ ------*/
  .news-contents {
    flex-direction: column;
  }

  article,
  aside {
    width: 100%;
  }

  #news .page-title {
    margin-top: 30px;
  }

  aside {
    margin-top: 60px;
  }

  .post-info {
    margin-bottom: 30px;
  }

  .post-title {
    font-size: 1.375rem;
  }

  .post-date {
    width: 70px;
    height: 70px;
    font-size: 1rem;
  }

  .post-date span {
    font-size: 0.785rem;
    padding-top: 2px;
  }

  .post-cat {
    font-size: 0.75rem;
    margin-top: 10px;
  }

  .post-title,
  .post-cat {
    margin-left: 80px;
  }
}
